@media screen and (min-width: 620px) {

    .destaque {
        padding: 10rem 3rem 3rem 3rem;
    }

    .sobre,
    .blog,
    .contato, 
    footer{
        padding: 3rem 4rem;
    }

    .contato form {
        width: 90%;
        margin: 0 auto;
    }

    footer {
        justify-content: space-between;
    }

}

@media screen and (min-width: 980px) {

    

    .destaque {
        padding: 11rem 5.5rem 4rem 5.5rem;
    }

    button, .contato button {
        font-size: 1.5rem;
        margin-top: 2rem;
     }

    .destaque button{
        margin-top: 2.5rem;
        font-size: 1.5rem;

    }

    .destaque h2 strong{
        font-size: 2rem
    }

    .destaque p, .destaque h2 {
        width: 80%;
        font-size: 1.5rem
    }

    
    .menu {
        justify-content: space-around;
        align-items: center;
        padding: 0 0 0 0;
    }

    .menu div {
        width: auto;
    }


    .blog .container {
        display: flex;
        flex-direction: row;
    }

    .blog .blog__populares {
        padding: 1.5rem 2rem;
        width: 100%
    }
    
    

    .titulo__secao {
        font-size: 3rem;
    }
}